{% extends 'layout.html.twig' %}

{% block content %}
    {{ dump(stercket1) }}
    {{ dump(stercket2) }}
    <h1>FIGHT!</h1>
    {% for round in combat %}
    <p>{{ round }}</p>
    {% endfor %}
    {% include 'Item/_form.html.twig' %}
{% endblock %}
