{% extends 'layout.html.twig' %}

    {% block title %}
        Home
    {% endblock %}

    {% block link %}
        <link rel="stylesheet" href="/assets/css/home.css">
    {% endblock %}



{% block content %}
        <section class = "RulesAndPresentation" >
        <section class = "Rules">
            <h2> Rules </h2>
            <p> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </section>

            <div class= "blockPresentation">
                <h2 class="welcome">Welcome In </h2>
                <h2 class="StercketBattle"> STERCKETS </h2>
                <h2 class="StercketBattle"> BATTLE </h2>
            </div>
        </section>
{% endblock %}




{% block button %}
    <div class = "blockButton">

        <button class="button buttonRules"> Rules </button>
        <a class="button buttonPlay" href="../Game/game"> Play </a>
    </div>
{% endblock %}





