{% extends 'layout.html.twig' %}

    {% block title %}
        Stercket Battle
    {% endblock %}
    {% block link %}
            <link rel="stylesheet" href="/assets/css/game.css">
            <link href="/assets/fonts/PasseroOne-Regular.ttf">
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block button %}
                <button class = "button buttonHome"> Home </button>
                <button class = "button buttonRest"> Rest </button>
                <button class = "button buttonBattle"> Battle </button>
                <button class = "buttonCollection"> Collection </button>
    {% endblock %}
