{% extends 'layout.html.twig' %}

    {% block title %}
        Stercket Battle
    {% endblock %}

    {% block link %}
    {# link for local font #}
            <link rel="stylesheet" href="/assets/css/game.css">
            <link rel="stylesheet" href="/assets/fonts/PasseroOne-Regular.ttf">
            <link rel="icon" href="/assets/images/favicon.png">
    {% endblock %}
    {% block content %}
        {% block nav %}
            {% block button %}
            {# Next button will involved JS #}
                <button class = "button buttonHome"> Home </button>
                <button class = "button buttonRest"> Rest </button>
                <button class = "button buttonBattle"> Battle </button>
            {% endblock %}
        {% endblock %}
        {% block collection %}
                <button class = "buttonCollection"> Collection </button>
        {% endblock %}
    {% endblock %}
