{% extends 'layout.html.twig' %}

    {% block title %}
        Stercket Battle
    {% endblock %}
    {% block link %}
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="/assets/css/play.css">
    {% endblock %}
    {% block content %}
        {{ include ('Game/battle.html.twig') }}
        <div class="container">
            <nav class="navbar">
                <div class="hamburger-menu">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
            </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href='../Home/index' class="home"> Home </a>
                    </li>
                    <li>
                        <button class = "button buttonRest"> Rest </button>
                    </li>

                </ul>
            </nav>
        </div>
        <form action="" method="GET">
        <label for="select.item" id="popup" class = "button buttonCollection">Collection</label>
        
        <div id="showCollection" class="stercketCollection">
                <label for="stercket"><img src="/assets/images/favicon.png" alt="test"></label>
                <input type="radio" id="stercket">
            <a href="" class="stercket">Stercket 1</a>
            
            <a href="" class="stercket">Stercket 2</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
            <a href="" class="stercket">Stercket 3</a>
        </div>
        
        <button class = "button button-Battle"> Battle </button>
        </form>
    {% endblock %}
    {% block script %}
            <script src="/script/script.js"></script>
    {% endblock %}

