body {
    background: url(/assets/images/backgroundPlayPage.jpg) center no-repeat;
    background-size: cover;
}

li {
    list-style: none;
}

.stercketCollection {
    display: none;
    border: black solid 1px;
    border-radius: 10px;
    width: 90%;
    height: 104px;
    margin: auto;
}

.scrollCollection {
    display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}

.userCollectionStercket {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 25%;
}

.userCollectionStercket img {
    max-height: 64px;
    max-width: 64px;
    cursor: pointer;
}

.stercketRadio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.stercketRadio:checked+.stercketLabel {
    color: red;
}

.nav-item,
.button {
    font-size: 2rem;
    line-height: 2rem;
    width: 15rem;
    margin: 1rem;
}

.nav-list {
    margin: 20px;
    text-align: center;
}

.stercketLabel {
    display: flex;
    flex-direction: column;
}

.show {
    display: flex;
}

@media screen and (max-width: 640px) {
    .navbar {
        width: 200px;
        position: fixed;
        top: 0;
        right: -300px;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        transition: 0.5s ease-in;
    }
    .active {
        right: -35px;
    }
    .hamburger-menu {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: orange;
        transition: all 0.5s;
    }
    .active .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .active .line-2 {
        opacity: 0;
    }
    .active .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }
}

@media screen and (min-width: 641px) and (orientation:vertical) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-item {
        text-align: center;
        margin-top: 0;
    }
    .nav-list {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navbar {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .buttonCollection {
        grid-column: 4;
        grid-row: 1;
        margin-bottom: 4rem;
    }
    .stercketCollection {
        grid-column: 1 / 5;
        justify-content: space-around;
        border-radius: 20px;
    }
    .userCollectionStercket {
        width: auto;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }
    .stercketCollection {
        height: 156px
    }
    .userCollectionStercket img {
        max-height: 96px;
        max-width: 96px;
    }
}

@media (max-width:800px) and (orientation: landscape) {
    .navbar {
        width: 200px;
        position: fixed;
        top: 0;
        right: -300px;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        transition: 0.5s ease-in;
    }
    .active {
        right: -35px;
    }
    .hamburger-menu {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: orange;
        transition: all 0.5s;
    }
    .active .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .active .line-2 {
        opacity: 0;
    }
    .active .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }
    .nav-list {
        margin-top: 30px;
    }
    .container {
        max-width: 100vh;
        max-height: 100vh;
        display: grid;
        grid-template-columns: 20% repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .buttonCollection {
        grid-column: 1;
        grid-row: 1;
    }
    .show {
        display: flex;
    }
    .stercketCollection {
        grid-column: 1;
        grid-row: 2 / 7;
        height: 90%;
        width: 180px;
        margin: auto;
        margin-left: 0.5rem;
    }
    .scrollCollection {
        overflow-x: scroll;
        align-items: baseline;
        width: 100%;
        height: 100%;
    }
    .userCollectionStercket {
        height: auto;
        margin: 1rem;
        width: auto;
    }
}